.inicio {
    background-color: #cfbed6;
    background-size: cover;
  
}
div{
    padding: auto;

}
.letrasmenu{
    color: aliceblue;
    margin-left: 10px;
}
.menu{
    background-color: rgb(158, 110, 210);
    padding: 20px;
    font-size: 20px;
    text-align: center;
}

h1 {
    color: rgb(168, 56, 196);
    font-style: oblique;
    text-align: center;

}

#carouselExampleCaptions{
    text-align: center;
}

.imagenes{
    max-width: 50%;
    border-radius: 20px;
}