.fondo {
   background-color: #cfbed6;
   
  
}
#boton{
    background-color: #fdf8fc 
    ;
    color: rgb(130, 55, 211);
    border-radius: 5px;
    font-weight: bold;
}#imagen{
    text-align: center;
    margin-left: 75px;
    margin-top: 50px;
}
.yoda1{
    width: 18rem;
    padding: 3px;
    background-color: rgb(148, 96, 196);
}

h1,p{
    color: rgb(255, 255, 255);
}