body {
    background-image: url(img/love\ is\ love.jpg);
    background-size: cover;

  
}





h1{
    color: darkmagenta;
    font-size: xx-large;
    text-align: center;
    font-family: fantasy;
    font-style: italic; 


}