body {
    background-image: url(img/love\ is\ love.jpg);
    background-size: cover;

  
}
h6
{
    color: aliceblue;
}
p {
    color: aliceblue;
}
p1 {
    color:aquamarine
}
p3 {
    color: #FC04EC ;
}